{% extends "base.html" %}

{% block head %}
    <title>Search</title>
{% endblock %}

{% block body %}
    <p>{{ term }}</p>
    <p>{{ category }}</p>
    <div id="saved">
        {% for saved in saved_search %}
            <p>{{ saved.name }}</p>
        {% endfor %}
    </div>
    <div id="plot">
        {{ plot|safe }}
    </div>
    <p>Prediction: {{ prediction }}</p>

    <!--Need to somehow take in the passed data and send it to the save funtion-->
    <div id="save">
        <form action="{% url 'save' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="term" value="{{ term }}">
            <input type="hidden" name="category" value="{{ category }}">
            <input type="submit" value="Save Search"/>
        </form>
    </div>
{% endblock%}