{% extends "base.html" %}

{% block head %}
    <title>Search</title>
{% endblock %}

{% block body %}
    <div id="header">
        <h3><a href="{% url 'index' %}">&#8604; Home</a></h3>
    </div>

    <div id="plot">
        {{ plot|safe }}
        <p>Recent average price: ${{ average }}</p>
        <p>30 day prediction: ${{ prediction }}</p>
    </div>

    <div id="save">
        <form action="{% url 'save' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="term" value="{{ term }}">
            <input type="hidden" name="category" value="{{ category }}">
            <input type="submit" value="Save Search"/>
        </form>
    </div>
{% endblock%}