@media only screen and (min-width: 801px) {
    #sidebar {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: lightgreen;
        overflow-x: hidden;
        padding-top: 1%;
        padding-left: 10px;
    }

    #search {
        margin-left: 200px; /* Same as the width of the sidenav */
        margin-top: 10%;
        padding: 0px 10px;
    }

    #header, #plot, #save {
        padding: 10px;
    }

    input[type=text] {
        width: 50%;
    }

    body {
        background-color: lightgray;
    }
}

@media only screen and (max-width: 800px) {
    #sidebar, #header, #save {
        padding: 10px;
    }

    body {
      background-color: peachpuff;
    }

    #plot {
        width: 100%;
        padding: 10px;
    }
}